# Config file for automatic testing at travis-ci.org

language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
os:
  - linux
#  - osx
sudo: false
install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Prepare env with Python version
  - conda create -q -n eggshell python=$TRAVIS_PYTHON_VERSION
  # Update now the env with our environment
  - conda env update -f environment.yml
  - source activate eggshell
  # Packages for testing
  - conda install pytest flake8
  # Install eggshell
  - python setup.py install
script:
  - pytest
  - flake8
