name: eggshell
channels:
- conda-forge
- defaults
dependencies:
- six
- pywps
# Optional dependencies.
# eggshell can be imported without them.
# Only sub-packages will raise import errors
################
# numeric
- python=3
- numpy
#- scipy
################
# visualisation
- matplotlib
#- cartopy
#- iris
################
#- libnetcdf
- netCDF4
- ocgis
################
# tests
- pytest
- flake8
################
# docs for development
- sphinx
- pip:
  - sphinx-autoapi
