name: eggshell
channels:
- conda-forge
- defaults
dependencies:
- pywps
- pytest

# Optional dependencies.
# eggshell can be imported without them.
# Only sub-packages will raise import errors
################
# numeric
#- numpy
#- scipy
################
# visualisation
- matplotlib
- cartopy
- iris
################
- libnetcdf
- netcdftime # This does not seem to be installed with netCDF4...
- ocgis
################

################
# docs for development
- sphinx
- sphinx_rtd_theme
- doc8

- pip:
  - sphinx-autoapi==0.5.0
